.my-app {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  @apply 
  pt-5 
  p-4;
}

.my-app__content {
  display: flex;
  flex-direction: row;
  font-size: 14px;

  @apply 
  pt-5 
  p-4;
}