@layer base {
  h1 {
    @apply p-4;
    color: pink;
  }
}

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

@layer utilities {
  .popover {
    @apply bg-blue-400;
  }
}

@layer utilities {
  @variants responsive {
    .full {
      flex: 1;
    }
  }
}

@layer utilities {
  /* @variants hover, focus {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  } */

  @variants hover, focus {
    .filter-grayscale {
      filter: grayscale(100%);
    }
    /* ... */
  }
}
